fieldset {
    border: none;
    padding: 0;
}
input, select, textarea {
    width: 100%;
    padding: 0.8rem;
    border: none;
    background-color: #333;
    color: white;
}

button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: #007BFF;
    border: none;
}
