blockquote {
  color: color-mix(in display-p3, white 80%, orange 20%);
}

figure:has(img) {
    float: right;
    width: 30%;
}

figure {
    margin-left: 1rem auto;
    padding: 0 3dvw;
}

figure img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
  figure:has(img) {
    float: none;
    width: 100%;
  }
  figure {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  figure img {
    object-fit: cover;
    object-position: center;
  }
  figure {
    padding: 0 6dvw;
  }
}
